.todo_body {
  margin: 2rem auto;
  width: 95%;
  // background-color: blue;
  color: #22273a;

  header {
    text-align: center;
  }
}

.todo_create {
  // background-color: #f5f2f2;
  background-color: #214a88;
  padding: 1rem;
  header {
    text-align: left;
    color: #65ade5;
  }
}
