.todo_card {
  text-align: left;
  margin-top: 6rem;
  background-color: #f5f2f2;
  padding: 1.5rem;
  box-shadow: 10px 10px 5px #aaaaaa;

  header {
    text-align: left;
    margin-bottom: 4rem;
  }

  h2 {
    text-transform: capitalize;
  }

  h3 {
    color: #214a88;
    font-weight: 400;
    text-transform: uppercase;
  }

  h4 {
    font-style: italic;
    font-weight: 800;
  }

  span {
    color: #65ade5;
    font-size: 1.563rem;
  }

  ul {
    // background-color: #214a88;
    padding-left: 1rem;
  }
}
