.page-header {
  text-align: center;
  margin: 2rem auto;

  a {
    display: block;
    padding: 3rem;
    background-color: #214a88;
    color: white;
    text-align: center;
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  a:hover {
    text-decoration: none;
    background-color: #8094aa;
  }

  .tagline {
    font-size: 5rem;
    margin: 1rem auto;
  }
}
