.ui-button {
  background-color: #214a88;
  padding: 1rem 2rem;
  color: white;
  box-shadow: none;
  border-radius: 5px;
}

button:hover {
  background-color: #687fa1;
  cursor: pointer;
}
