.deletePage {
  background-color: rgb(231, 224, 223);
}

.form_aside {
  text-align: left;
  max-width: 15rem;
  margin: 0 auto;
  height: 100vh;
  p {
    margin: 0 auto;
    font-style: italic;
  }
  input {
    margin-bottom: 2rem;
  }

  label {
    text-transform: capitalize;
    font-weight: bold;
    color: #214a88;
  }
}

.submit_button {
  text-decoration: none;
  background-color: #8094aa;
  color: white;
  text-align: center;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 1rem;
}
